<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>This sidebar is optional for narratives and plays</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Return Home</a>
    <a class="sidebar-nav-item" href="https://via.hypothes.is/http://elotroalex.github.io/ed/">Annotate me</a>


    {% comment %}
      The code below dynamically generates a sidebar nav of chapters for narratives and plays. See documentation for details.
    {% endcomment %}

    <span class="sidebar-nav-item">TABLE OF CONTENTS</span>

    {% assign chapters = "Title Page|Preface|Letter From Wendell Phillips|Chapter I|Chapter II|Chapter III|Chapter IV|Chapter V|Chapter VI|Chapter VII|Chapter VIII|Chapter IX|Chapter X|Chapter XI|Appendix|A Parody" | split: "|" %}

    {% for node in chapters %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="#{{ node | slugify }}">{{ node }}</a>
    {% endfor %}

  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. Distributed with an MIT license.
    </p>
  </div>
</div>
