<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ page.title }}</p>
  </div>

  <nav class="sidebar-nav">
    
    {% for node in page.toc %}
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="#{{ node | slugify }}">{{ node }}</a>
    {% endfor %}

  </nav>

  <div class="sidebar-item">
    <p>
     Edited by {{ page.editor }}, {{ site.time | date: '%Y' }}.
    </p>
  </div>
</div>
