---
sitemap: false
---

/*
* Common Variables
*
* Feel free to change!
*
*/

/* FONTS */

$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: Palatino;
$regular-font-size: 20px;

/*
* COLOR.
*
* Make sure to leave color-scheme in config file empty for granular control
*
*/

$text-color: #454545;
$heading-color: #404040;
$link-color: #841212;


@import "ed";
@import "syntax";
