---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: sans-serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */


/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: #454545;
$heading-color: #CE1126;
$link-color: #002D62;


@import "ed";
@import "syntax";
